<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../demo/css/print.css">
</head>
<body>

    <!-- first page -->
    <div class="page">
        <h1>First page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ipsa illum porro, dolorum sapiente eligendi, accusamus, repellendus autem nihil saepe vitae velit iusto impedit qui illo earum officia accusantium recusandae.</p>
    </div>


    <!-- second page -->
    <div class="page">
        <h1>Second page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ipsa illum porro, dolorum sapiente eligendi, accusamus, repellendus autem nihil saepe vitae velit iusto impedit qui illo earum officia accusantium recusandae.</p>
    </div>
</body>
</html>
